# whitelist
branches:
  only:
    - master

language: objective-c
before_install:
    - sudo easy_install cpp-coveralls
    - brew update
    - brew uninstall xctool && brew install https://raw.github.com/fpotter/homebrew/246a1439dab49542d4531ad7e1bac7048151f601/Library/Formula/xctool.rb
    - gem install cocoapods -v 0.23.0
    - cd ETFrameworkDemo && pod install
script:
    - rake -f ../Rakefile test
    - make -f ../Makefile generate-coverage
after_success:
    - make -f ../Makefile send-coverage